<header class="main-header">
  <nav class="nav-bar">
    <div class="logo">
      <a routerLink="/">BrunoCosta.dev</a>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>

    <div class="nav-links" [class.open]="isMenuOpen">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

    <button class="theme-toggle" (click)="toggleDarkMode()">
      <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
    </button>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>
