@use '../../../../../styles/index' as style;

.projects-container {
  padding: 2rem;

  h2 {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 1.5rem;

    @include style.respond-up(md) {
      font-size: 2rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;
      color: var(--color-text);

      a {
        color: var(--color-primary);
        text-decoration: underline;

        &:hover {
          color: var(--color-active);
        }
      }
    }
  }
}
