<section class="home-container">
  <div class="intro">
    <img src="assets/bruno.png" alt="Bruno Costa" class="profile-photo" />
    <h1>Hi, I'm Bruno Costa</h1>
    <p>Full Stack Developer</p>
    <p>
      Welcome to my personal portfolio. <br />
      Here you’ll find web systems built in Angular, React, Vue and .NET.
    </p>
  </div>

  <div class="cta-buttons">
    <a routerLink="/projects" class="btn primary">See Projects</a>
    <a routerLink="/contact" class="btn secondary">Contact Me</a>
  </div>
</section>
