/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body:not(.dark-mode) .theme-toggle i.fa-sun {
    color: #fdd835 !important;
}

body.dark-mode .theme-toggle i.fa-sun {
    color: #f0f0f0 !important;
}

